@media only screen and (max-width: 62.5rem) {
	header {
		height: 5rem;
	}

	header.active {
		height: 50rem;
	}

	h1 {
		font-size: 1rem;
	}

	nav {
		display: none;
	}

	.header-container {
		padding: 0 1rem;
		align-items: center;
	}

	.hamburger-menu {
		width: 3rem;
		height: 40%;
		display: flex;
		flex-direction: column;
		justify-content: space-between;
		z-index: 1;
	}

	.hamburger-line {
		width: 100%;
		height: 0.3rem;
		border-radius: 8px;
		background-color: #5121E5;
	}

	.hamburger-menu.active {
		position: relative;
	}

	.hamburger-menu.active > .hamburger-line {
		position: absolute;
		top: 45%;
	}

	.hamburger-menu.active > .hamburger-line:first-child {
		transform: rotate(45deg);
	}

	.hamburger-menu.active > .hamburger-line:nth-child(2) {
		display: none;	
	}

	.hamburger-menu.active > .hamburger-line:last-child {
		transform: rotate(-45deg);
	}

	.mobile-nav-container.active {
		width: 100%;
		height: 100%;
		display: flex;
		justify-content: center;
		align-items: center;
	}

	.mobile-nav.active {
		width: 90%;
		height: 90%;
		border-radius: 1rem;
		background-color: #101018;
	}

	.mobile-nav-items {
		display: block;
		width: 100%;
	}

	.mobile-nav-items > ul {
		display: flex;
		flex-direction: column;
		justify-content: center;
		align-items: center;
	}

	.mobile-nav-items > ul > li:last-child {
		background-color: inherit;
	}
	
	li {
		width: 100%;
		height: 100%;
	}

	li:last-child > a {
		color: #BBBBBE;
	}

	a:hover {
		color: #BBBBBE;
	}
}
